a {
  text-decoration: none;
  color: green;
}

.containerLogo {
  width: 280px;
}
.containerLogo > img {
  display: block;
  width: 100%;
}
.containerLogin {
  margin-top: -1rem;
  padding: 1.2rem;

  /* background: white;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 1px rgb(243, 238, 238); */
}
.formsInit {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.title {
  font-size: 2.2rem;
  color: green;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.links {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}
