.containerDetalhes {
  border: 1px solid rgba(222, 224, 220, 0.856);
  padding: 1.5rem;
  width: max-content;
  background: white;
  margin: 0;
}

.lista::-webkit-scrollbar {
  width: 0.9rem;
}
.lista::-webkit-scrollbar-thumb {
  background: rgb(191, 194, 192);
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

.lista::-webkit-scrollbar-track {
  background: white;
}

.lista {
  height: 40rem;
  overflow-y: scroll;
}

.containerDetalhes li {
  list-style: none;
  margin-top: 1rem;
}

.containerDetalhes p {
  font-weight: bold;
  display: block;
  font-size: 1rem;
}
.containerDetalhes div {
  width: 28rem;
  background: rgba(203, 204, 203, 0.384);
  padding: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.616);
  margin-right: 0.5rem;
}

.listaEndereco {
  padding: 0;
  display: flex;
  flex-direction: column;
}
