.contentEmpresaAcao {
  background: white;
  border: 1px solid rgba(222, 224, 220, 0.856);
}

.navStyle {
  display: flex;
  align-items: center;
  margin: auto 0;
  justify-content: space-between;
  border-bottom: 1px solid rgba(222, 224, 220, 0.856);
  border-radius: 0.7rem;
  color: #212529;
}

.navStyle span {
  background: white;
  padding: 20px;
  border-radius: 0.5rem;
}
.navStyle span:hover {
  background: rgb(133, 201, 133);
  transition: 0.2s;
}

.historicoComentarios {
  width: 100%;
  height: 40rem;
}

.secaoComentarios {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin: 1rem;
}

.textarea {
  display: block;
  font-size: 1rem;
  resize: none;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: #eee;
  transition: 0.2s;
}

.textarea:focus,
.textarea:hover {
  outline: none;
  box-shadow: 0 0 1.5px 0.5px rgb(23, 207, 23), 0 0 0 1px rgb(19, 187, 19);
  background: white;
}
